@import "tailwindcss";

@theme {
    --color-main: #054e65;
    --color-naranja: #fe9d1e;
    --color-ladrillo: #cf5d5f;
    --font-avenir: "Avenir", sans-serif;
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 200 600;
    font-display: swap;
    src: url("/fonts/Avenir_Medium.woff") format("woff");
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 700 800;
    font-display: swap;
    src: url("/fonts/Avenir_Heavy.woff") format("woff");
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Avenir_Black.woff") format("woff");
}

.text-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
