<footer class="bg-main text-white">
  <div
    class="max-w-screen-lg mx-auto py-8 grid grid-cols-1 md:grid-cols-2 gap-16"
  >
    <div>
      <p>
        <a
          href="https://www.instagram.com/masalladela_vivienda/"
          target="_blank"
          ><img src="/img/insta.png" alt="Instagram" class="w-6" /></a
        >
      </p>
      <p class="text-sm font-normal my-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit
        amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur
        adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing Lorem
        ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet,
        consectetur adipiscing Lorem ipsum dolor sit amet, consectetur
        adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing
      </p>
      <p class="text-sm font-normal my-4">correo</p>
    </div>
    <div class="flex items-center justify-end gap-8">
      <img src="/img/logo-fondecyt.png" alt="Fondecyt" class="w-48" />
      <img src="/img/logo-upla.png" alt="UPLA" class="w-48" />
    </div>
  </div>
</footer>
