<header>
  <div class="max-w-screen-xl mx-auto flex justify-between items-center py-4">
    <img src="/img/logo.svg" alt="Más Allá de la Vivienda" />
    <nav>
      <ul class="flex gap-16 uppercase text-main">
        <li><a href="/" class="text-ladrillo">Inicio</a></li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
      </ul>
    </nav>
  </div>
</header>
